.container-modalClient {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;

  background: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(0.4rem);
  position: fixed;
  top: 0;
  left: 0;
}

.modalClient__card {
  background: #ffffff;
  border-radius: 2rem;

  width: 60rem;
  height: 68rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modalClient__card--title {
  width: 80%;
  display: flex;
  margin-bottom: 1rem;
}

.modalClient__card--title .client-icon {
  margin-right: 1.6rem;
  width: 3.2rem;
}

.modalClient__card--title h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 2.6rem;
  color: #3f3f55;
}

.close-modalClient {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 3rem;
}

.modalClient__form {
  display: flex;
  flex-direction: column;
  width: 48rem;
}

.modalClient__form label {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3f3f55;
  margin-bottom: 0.6rem;
}

.modalClient__form__inputDefault {
  all: unset;
  box-sizing: border-box;
  border: 0.1rem solid #ddd0d0;
  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
  border-radius: 0.8rem;

  padding: 1rem;
  margin-bottom: 0.8rem;
  height: 4rem;
}

.modalClient__form__inputError {
  all: unset;
  box-sizing: border-box;
  border: 0.2rem solid #e70000;
  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
  border-radius: 0.8rem;

  padding: 1rem;
  margin-bottom: 0.8rem;
  height: 4rem;
}

.modalClient__form--buttons {
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  font-family: 'Nunito';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.modalClient__form--buttons button {
  width: 20rem;
  height: 3.3rem;
  border-radius: 1rem;
  padding: 0.4rem;
}

.two-inputs {
  width: 100%;
  display: flex;
  gap: 2.5rem;
}

.two-inputs div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.two-inputs .seventy {
  width: 70%;
}

.two-inputs .thirty {
  width: 30%;
}

.cancel-button {
  cursor: pointer;

  background: #f8f8f9;
  border: 0.1rem solid #dedee9;
  color: #0e8750;
}

.confirm-button {
  cursor: pointer;
  background: #da0175;
  color: #f8f8f9;
  border: none;
}
